div.form-type-pet .preview {
  border: 1px solid #d4d4d4;
  background-color: hsla(0, 0%, 0%, .08);
  box-sizing: border-box;
  padding: .3em .4em .3em .5em;
  max-width: 100%;
  border-radius: 2px;
  font-size: 1em;
  color: #595959;
}